*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(254, 228, 211);
    font-family: sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: rgb(255, 238, 0);
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px rgb(255, 230, 166),
    5px 5px 12px rgb(255, 254, 167);
    display: grid;
    grid-template-columns: repeat(4, 68px);
}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: rgb(255, 250, 151);
    box-shadow: inset -5px -5px 12px rgb(255, 232, 175),
    inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 30px;
    color: rgb(114, 114, 114);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;

}

button{
    height: 48px;
    width: 48px;
    background-color: rgb(255, 255, 130);
    box-shadow: -5px -5px 12px rgb(255, 240, 201),
    5px 5px 12px rgb(255, 236, 160);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;
    
}

.equal{
    width: 115px;
    border-radius: 40px;
    background-color: rgb(255, 255, 130);
    box-shadow: -5px -5px 12px rgb(255, 240, 201),
    5px 5px 12px rgb(255, 236, 160);
}